body {
    background-color:#ddaa68;
}
header {
	font-weight:bold;
	font-size:45px;
	width:100%;
}
header ol {
	list-style-type:none;
	width:100%;
}
header li {
	display:inline;
	text-align:center;
	padding-left:10%;
	padding-right:10%;
	position:relative;
	margin-right:4%;
}
			
* {
	box-sizing: border-box;
}

::-moz-selection {
	background: #B3D4FC;
	text-shadow: none;
}

::selection {
	background: #B3D4FC;
	text-shadow: none;
}

a:focus {
	outline: none;
}

::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.7);
}

:placeholder {
    /* Firefox 18- */
	color: rgba(0, 0, 0, 0.7);
}

.note {
	float: left;
	display: block;
    position: relative;
    padding: 1em;
	width: 180px;
	min-height: 150px;
	margin: 0 30px 30px 0;
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.25));
	background: linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.25));
	background-color: #FFFD75;
	box-shadow: 5px 5px 10px -2px rgba(33, 33, 33, 0.3);
	-webkit-transform: rotate(2deg);
	transform: rotate(2deg);
	-webkit-transform: skew(-1deg, 1deg);
	transform: skew(-1deg, 1deg);
	-webkit-transition: -webkit-transform .15s;
	transition: -webkit-transform .15s;
	transition: transform .15s;
	transition: transform .15s, -webkit-transform .15s;
	z-index: 1;
}

.note:hover {
    cursor: move;
}

.note.ui-draggable-dragging:nth-child(n) {
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.3);
	-webkit-transform: scale(1.125) !important;
	transform: scale(1.125) !important;
	z-index: 100;
	cursor: move;
	-webkit-transition: -webkit-transform .150s;
	transition: -webkit-transform .150s;
	transition: transform .150s;
	transition: transform .150s, -webkit-transform .150s;
}

.note textarea {
    background-color: transparent;
	border: none;
	resize: none;
	font-family: "Gloria Hallelujah", cursive;
	width: 100%;
	padding: 5px;
}
.note textarea:focus {
	outline: none;
	border: none;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2) inset;
}
.note textarea.title {
    font-size: 21px;
	line-height: 1.2;
	color: #000000;
	height: 64px;
	margin-top: 20px;
}
.note textarea.cnt {
	min-height: 100px;
}
.note:nth-child(2n) {
	background: #FAAACA;
}
.note:nth-child(3n) {
	background: #69F098;
}
.todo {
	position:fixed;
	width:33%;
	height:100%;
    top:10%;
}
.wip {
	border-right:4px dashed white;
	border-left:4px dashed white;
	position:fixed;
	width:33%;
	height:100%;
	top:10%;
    left:33%;
}
.done {
    position:fixed;
    top:10%;
    left:66%;
    width:33%;
}

#board {}

#contextMenu {
    position:absolute;
    display:none;
}